@use "styles" as *;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: calc(var(--header-height) + 2.5rem) 0 3.75rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-regular);
  line-height: 1.2;
}

.formWrap {
  width: 100%;
  max-width: 28.375rem;
}
