@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand: #2f80ed;
  --muted: #d7d7d7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-proxima-nova), ui-sans-serif, system-ui, sans-serif;
  --radius-default: calc(infinity * 1px);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}