@use "styles" as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background);
  height: var(--header-height);
  .headerCnt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;

    .logoLink {
      margin-top: -0.3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .headerBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--header-gap);
    }
    .headerBlock:last-child {
      justify-content: end;
    }
  }
  .headerBlockBlockMb {
    display: contents;
  }
  .headerPhoneMob {
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--brand);
  }
}

.logo {
  width: var(--logo-width);
  color: var(--brand);
}

@include lg-only {
  .header {
    .headerCnt {
      .headerBlock:last-child {
        gap: 2.1875rem;
      }
    }
  }
}

@include max-md {
  .header {
    .headerCnt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .headerBlock {
        display: contents;
        .headerFormBtn {
          display: none;
        }
      }
    }
    .headerBlockBlockMb {
      display: flex;
      flex-direction: row;
      gap: 3.875rem;
    }
    .headerPhoneMob {
      display: inline-flex;
    }
    .headerPhonePC {
      display: none;
    }

    .logoLink {
      order: 2;
    }
    .headerSelect {
      order: 3;
    }
  }
}

@include sm {
  .header {
    .headerBlockBlockMb {
      display: contents;
    }

    .logoLink {
      order: 2;
    }
    .headerPhoneMob {
      order: 3;
    }
    .headerSelect {
      display: none;
    }
  }
}
